<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EveryDayBenefitSale.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>78DCBE001D6EDC3B004A8F6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78DCBE1C1D6EDC3C004A8F6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78DCBE271D6EDC3C004A8F6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
